.container {
    display: flex;
    height: 94vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



button {
    margin-bottom: 25px;
    padding: 13px;
    border: none;
    border-radius: 30px;
    outline: none;
}
